/*
  COLORS
*/
$main-background-color: #f3f6fb;

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  //height: 100%;
}

body {
  //height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  color: black;
  background: $main-background-color;
  overflow-x: hidden;
}



header.main-header {
  background: $main-background-color;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 65px;
  
}

nav {
  max-height: 0px;
  position: absolute;
  background-color: rgba(0,0,0, 0.9);
  opacity: .7;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: max-height .6s;
  -o-transition: max-height .6s;
}

#main-nav {
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  transition: all .4s ease-in-out;
}

#main-nav a {
  padding: 8px;
  text-decoration: none;
  font-size: 3em;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; 
}


.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  // TOGGLE BUTTON VIEW STYLES
  & span, &::before, &::after {
    display: block;
    background: black;
    height: 2px;
    width: 1.7em;
    border-radius: 2px;
    position: relative;
    transition: all .4s ease-in-out;
        
  }

  & span {
    top: 0px;
    opacity: 1;
    transition: all .2s ease-in-out;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    
  }

  &::before {
    top: 12px;
  }

  &::after {
    top: 22px;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Input is always hidden, I work only on label
.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  max-height: 100vh;

  #main-nav {
    opacity: 1;
    visibility: visible;
  }
}

// TOGGLE BUTTON ANIMATION
.nav-toggle:checked ~ .nav-toggle-label {
  &::before {
    top: 20px;
    transform: rotate(45deg);
  }

  &::after {
    top: 20px;
    transform: rotate(-45deg);
    
  }

  span {
    top: -40px;
    opacity: 0;
    transform: rotate(-45deg);
  }
}

section {
  width: 100%;
  height: 800px;
}

.heading {
  position: absolute;
  top: 100px;
  left: 100px;
}

.heading-container {
  width: 50%;
}

/* 
  TYPED JS
*/

.typed {
  display: inline-block;
}

.typed-cursor {
  font-size: 2em !important;
}



@media only screen and (min-width: 1000px) {
  

  header.main-header {
    border-bottom: 1px black solid;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 65px;
    width: 100%;
    
  }

  .logo-container {
    display: none;
  }

  label.nav-toggle-label {
    display: none;
  }

  nav {
    padding-left: 100px;
    height: auto;
    position: absolute;
    background: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}


  #main-nav {
    margin-top: 0px;
    height: 100%;
    display: flex;
    opacity: 1;
    color: black;
    visibility: visible;
    position: relative;
  }

  #main-nav a {
    font-size: 1.2em;
    font-weight: 600;
    color: black;
    padding-left: 0;
  }
 
}